<h2 class="text-4xl mb-6 md:text-5xl">Buy•again brews</h2>
<div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
  {% set collection = collections.highRated.slice(1,4) %}
  {% include "partials/beer-card.njk" %}
</div>