---
title: About this gal
order: 3
---
<div class="grid grid-cols-section-slim bg-gray-100 xl:grid-cols-section">
  <div class="col-start-2 col-span-1 py-10 md:py-16">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-2 xl:grid-cols-[2fr_1fr]">
      <div class="col-start-1 space-y-3">
        <h2 class="text-4xl mb-6 md:text-5xl">I'm the gal drinking these!</h2>
        <p class="text-2xl font-bold lg:text-xl">
          I didn't always like beer.
        </p>
        <p class="text-lg lg:text-base">
          Blasphemy, I know. The embarrassing truth is I drank Smirnoff Ice, Mike's Hard Lemonade, and other sugared malt beverages that were really popular once upon a time. 
        </p>
        <p class="text-lg lg:text-base">
          Then one fateful day at a Wild Buffalo Wings, I said to my college bud Rahsaan, "Ya know, I think I'll order a beer." I'm not sure why, but I ordered a pint Guinness to go with my wings, really enjoyed it, and the rest is history.
        </p>
        <p class="text-lg lg:text-base">
          I am lucky to live in Chicago, one of the greatest cities for craft beer. Over the last decade I have tried so many fantastic beers, visited so many breweries, attended quite a few beer festivals, and made some really good stories with really good friends at really divey bars. Beer is one of my favorite things in the world, even with my one-beer-with-dinner rule. 
        </p>
        <p class="text-lg lg:text-base">
          Always drink responsibly! 
        </p>
        <img src="{{svgSrc}}signature.svg" class="w-32" alt="Signature that says: Nichole">
      </div>
      <div class="col-start-1 order-first lg:col-start-2 lg:order-2">
        <figure>
          <img src="{{imgSrc}}about-me.jpg" class="w-full rounded shadow-md" alt="Playing Boggle at the Bad Apple.">
          <figcaption class="text-xs text-center italic p-3 mt-3 bg-slate-200 rounded">Playing Boggle at the Bad Apple in Lincoln Square, Chicago.</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>