---
title: Beers by style
order: 1
---
<div class="grid grid-cols-section-slim bg-gray-200 xl:grid-cols-section">
  <div class="col-start-2 col-span-1 py-10 md:py-16">
    <h2 class="text-4xl mb-6 md:text-5xl md:mb-12">Beers by style</h2>
    {% set styleCollection = collections.styles %}
    {% set truncateBeers = false %}
    {% include "areas/beer-styles.njk" %}
  </div>
</div>