---
title: Liquid Love
layout: layouts/base.njk
---
{% include "partials/hero.njk" %}
<div class="grid grid-cols-section bg-gray-100">
  <div class="col-start-2 col-span-1 py-16">
    {% include "areas/buy-again.njk" %}
  </div>
</div>
<div class="grid grid-cols-section bg-gray-200">
  <div class="col-start-2 col-span-1 py-16">
    <h2 class="text-5xl mb-12">Go•to favorite styles</h2>
    {% include "areas/goto-styles.njk" %}
  </div>
</div>