{% for review in styleReviewCollection | filterStyle(styleGroup, truncateBeers) %}
  <div class="flex items-stretch gap-6">
    <div class="relative w-28 h-28 overflow-hidden rounded shadow-md {{'bg-slate-300 if review.data.eyecatch == 0'}}">
      <a href="{{review.url}}" class="inline-block">
        {% if review.data.eyecatch.length > 0 %}
          <img src="{{reviewImgSrc}}{{review.data.img}}" class="absolute top-0 left-1/2 -translate-x-1/2 max-w-none h-full" alt="" />
        {% else %}
          <img src="{{svgSrc}}beer-glasses-no-bg.svg" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-none h-3/4">
        {% endif %}
      </a>
    </div>
    <div class="flex-1">
      <h4 class="text-2xl md:text-2xl">
        <a href="{{review.url}}">
          {{review.data.beer}}
        </a>
      </h4>
      <p class="flex flex-col text-base text-gray-600 mb-1">
        <span class="line-clamp-1">
          {{review.data.brewery}}
        </span>
        <span class="line-clamp-1">
          {{review.data.breweryLocation}}
        </span>
      </p>
      {%- from 'macros/star-rating.njk' import rating %}
      {{ rating(review.data.rating) }} 
    </div>
  </div>
{% endfor %}