<footer class="grid grid-cols-section-slim lg:grid-cols-section bg-gray-800 py-20">
  <div class="col-start-2 grid-span-1 space-y-3">
    <h3 class="text-3xl text-white text-center">
      Beer is better when drinking together.
    </h3>
    <p class="text-base text-white text-center">
      Chicago is one of the best cities to experience beer whether it's in a brewery taptoom while petting dogs, a tasting at an indie-owned bottle shop, or on the fourth floor deck of my friend Phill's house. Where are your favorite places to enjoy beer?
      </p>
    <p class="text-base text-white text-center">
      <a href="/" class="font-black text-amber-400">Find me on Untappd!</a> Drink responsibly.
    </p>
  </div>
</footer>