<header class="fixed top-0 left-0 w-full h-16 z-10 grid grid-cols-nav-slim items-center bg-white border-b border-slate-200 border-solid md:static md:grid-cols-nav md:h-auto md:py-6 ">
  <div class="col-start-2 col-span-1">
    {% include "./logo.njk" %}
  </div>
  <nav class="grid col-start-3 col-span-1 md:block">
    {% include "./nav.njk" %}
  </nav>
</header>