<a href="/" class="block space-y-1">
  <img src="{{svgSrc}}/logo.svg" class="h-6 md:h-8" alt="Liquid Love Logo">
  <small class="hidden text-gray-700 text-2xs block uppercase tracking-wide leading-none md:block">One gal and many beers</small>
</a>