<input type="checkbox" hidden class="checkbox relative z-20" id="NavTrigger">
<label id="Menu" for="NavTrigger" class="block justify-self-end md:hidden">
    <div id="Hamburger" class="hamburger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"> </div>
  </div>
</label>
<ul id="NavItems" class="invisible opacity-0 fixed top-0 left-0 w-full h-full bg-slate-900 space-y-8 flex flex-col justify-center items-center md:visible md:opacity-100 md:relative md:flex-row md:justify-end md:gap-16 md:bg-transparent md:space-y-0">
  {% for item in collections.navigation %}
    <li class="relative text-slate-200 text-2xl md:text-slate-800 md:text-base md:static">
      <a href="{{item.url | url}}" class="relative lowercase">{{item.data.title}}</a>
    </li>
  {% endfor %}
</ul>